<mat-toolbar color="primary">
  <!-- Logo + App name -->
  <div class="brand">
    <img src="assets/LOGO.png" alt="Interview Tracker Logo" class="app-logo" />
    <span class="logo-text">InterviewTracker</span>
  </div>

  <span class="spacer"></span>

  <!-- User name -->
  <span class="user-name">
    {{ name }}
  </span>

  <!-- Profile image button -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="avatar-button">
    <img *ngIf="profileImageUrl; else defaultIcon" [src]="profileImageUrl" alt="Profile" class="avatar" />

    <ng-template #defaultIcon>
      <mat-icon>account_circle</mat-icon>
    </ng-template>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      Profile
    </button>

    <button mat-menu-item routerLink="/notes">
      <mat-icon>event_note</mat-icon>
      Notes
    </button>

    <!-- Swagger -->
    <button mat-menu-item (click)="openSwagger()">
      <mat-icon>description</mat-icon>
      Swagger API
    </button>

    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>