# Ignore build output folders
ConsoleAppAI/bin/
ConsoleAppAI/obj/
InterviewTracker/bin/
InterviewTracker/obj/
InterviewTrackerTest/obj/
InterviewTrackerTest/bin/
DotNetConcepts/obj/
DotNetConcepts/bin/
InterviewTracker/.vs
InterviewTrackerTest/obj
