<h2 mat-dialog-title>
    {{ data.title ? 'Edit Note' : 'Add Note' }}
</h2>

<mat-dialog-content>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="data.title" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Content</mat-label>
        <textarea matInput rows="8" [(ngModel)]="data.content" required>
    </textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!data.content.trim()">
        Save
    </button>
</mat-dialog-actions>