<app-navbar></app-navbar>
<app-employer-grid></app-employer-grid>

<div class="db-health-container">
  <div *ngIf="loading" class="db-health loading">
    Checking database connection...
  </div>

  <div *ngIf="error" class="db-health error">❌ Database connection failed</div>

  <div *ngIf="healthResponse && !loading && !error" class="db-health success">
    ✅ Database connection: {{ healthResponse.status }}
  </div>
</div>
<!-- <span class="material-symbols-rounded"> home </span>
<span class="material-icons">home</span>

<button>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="home"
  ></mat-icon>
</button> -->
