<app-navbar></app-navbar>

<h2>Database Health Check</h2>
<div *ngIf="loading">Checking DB status...</div>
<div *ngIf="error" class="error">
  {{ error }}
</div>

<pre *ngIf="healthResponse"
  >{{ healthResponse | json }}
</pre>

<pre *ngIf="userResponse"
  >{{ userResponse | json }}
</pre>

<!-- <span class="material-symbols-rounded"> home </span>
<span class="material-icons">home</span>

<button>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="home"
  ></mat-icon>
</button> -->
